*, *:before, *:after {
  /** border-box for all, as it should be */
  @include prefix((box-sizing: border-box), webkit moz);
}


a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
  background: none;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: middle;
  word-wrap: break-word;
}


@-ms-viewport {
  width: device-width;
}


html, body {
  -webkit-overflow-scrolling: touch;
  min-height: 100%;
  height: 100%;
}


li, ol, ul { list-style: none }


body {
  min-height: 100%;
  text-align: $body-alignment;
  background: $body-background;
  position: relative;
}

.xfaps__header {
  border-top: 0;
}

pre {
  -webkit-font-smoothing: auto;
}


a {
  cursor: pointer;
  text-decoration: $link-decoration;
  color: $link-color;
  -webkit-tap-highlight-color: $link-tap-highlight;
}


.no-touchevents a {
  &:hover {
    color: $link-hover-color;
  }

  &:active {
    color: $link-active-color;
  }
}


-moz-selection, ::selection, textarea::selection {
  background: $selection-background;
  color: $selection-font-color;
}


.divider {
  background: $divider-color;
  height: $divider-height;
  width: 100%;
  display: block;
  position: relative;
}


.disabled {
  color: $disabled-link-color;
}


.no-touchevents .disabled:hover {
  cursor: not-allowed;
  color: $disabled-link-color;
}


.noborder {
  border: 0 !important;
}
