/**
 ** Browser resets
 **/
a, b, body, code, div, em, fieldset, h1, h2, h3, h4, h5, h6, html, i, iframe,
img, label, li, ol, p, pre, span, ul {
  @extend %browser-reset;
}


@-ms-viewport {
  width: device-width;
}


html, body {
  min-height: 100%;
  height: 100%;
}


li, ol, ul { list-style: none }


a {
  cursor: pointer;
}
