$MAX-Z-INDEX: 2147483647;
$MAX-PX: 10000000px;


// Default borders
$light-border: rgba(0, 0, 0, 0.07) !default;
$border: rgba(0, 0, 0, 0.12) !default;
$dark-border: rgba(0, 0, 0, 0.24) !default;
$border-width: 1px !default;
$border-style: solid !default;


// Body */
$body-alignment: left !default;
$body-background: lighten($lightest-grey, 2%) !default;


// Links */
$link-color: $blue !default;
$link-hover-color: $grey !default;
$link-active-color: $grey !default;
$link-decoration: none !default;
$link-tap-highlight: $light-border !default;
$disabled-link-color: $dark-border !default;


// Document text selection */
$selection-background: $light-blue !default;
$selection-font-color: $white !default;


// Dividers */
$divider-color: $border !default;
$divider-height: 1px !default;


// Responsive media queries */
$phone: "only screen and (max-width: 719px)" !default;
$phone-max: $phone !default;
$phone-s: "only screen and (max-width: 359px)" !default;
$phone-m: "only screen and (min-width: 360px) and (max-width: 469px)" !default;
$phone-l: "only screen and (min-width: 480px) and (max-width: 719px)" !default;

$tablet: "only screen and (min-width: 720px)" !default;
$tablet-max: "only screen and (max-width: 1023px)" !default;
$tablet-s: "only screen and (min-width: 600px) and (max-width: 719px)" !default;
$tablet-m: "only screen and (min-width: 720px) and (max-width: 839px)" !default;
$tablet-l: "only screen and (min-width: 840px) and (max-width: 1023px)" !default;

$desktop: "only screen and (min-width: 960px)" !default;
$desktop-max: "only screen" !default;
$desktop-s: "only screen and (min-width: 960px) and (max-width: 1023px)" !default;
$desktop-m: "only screen and (min-width: 1024px) and (max-width: 1360px)" !default;
$desktop-l: "only screen and (min-width: 1360px)" !default;

$high-dpi: "only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min-resolution: 120dpi)" !default;
