// Body */
$MAX-Z-INDEX: 2147483647;
$MAX-PX: 134217727px;
$body-alignment: center !default;
$body-background: #ececec !default;

$body-font: "Roboto", "Helvetica Neue", Arial, sans-serif !default;
$body-font-size: 16px !default;
$body-font-color: #444 !default;
$body-line-height: 1.38 !default;
$body-font-weight: 300 !default;


// Links */
$link-color: #227fc4 !default;
$link-hover-color: darken($link-color, 20%) !default;
$link-active-color: darken($link-color, 20%) !default;
$link-decoration: none !default;
$link-tap-highlight: rgba(0,0,0,0.10) !default;


// Headings */
$heading-font: "Roboto", "Helvetica Neue", Arial, sans-serif !default;
$heading-color: #000 !default;
$heading-max-font-size: 48px !default;
$heading-font-weight: 300 !default;
$heading-text-align: left;
$heading-line-height: 1.1;


// Paragraphs */
$paragraph-padding: 0 !default;
$paragraph-margin: 0 0 1.2em !default;

$paragraph-font: "Helvetica Neue", Arial, sans-serif !default;
$paragraph-font-size: 16px !default;
$paragraph-line-height: 1.38 !default;
$paragraph-letter-spacing: 0.62px !default;
$paragraph-font-color: inherit !default;
$paragraph-font-weight: 300 !default;
$paragraph-text-align: left !default;


// Document text selection */
$selection-background: #343d3b !default;
$selection-font-color: #fff !default;


// Responsive media queries */
$phone: "only screen and (max-width: 719px)" !default;
$phone-max: $phone !default;
$phone-s: "only screen and (max-width: 359px)" !default;
$phone-m: "only screen and (min-width: 360px) aand (max-width: 469px)" !default;
$phone-l: "only screen and (min-width: 480px) and (max-width: 719px)" !default;
$tablet: "only screen and (min-width: 720px)" !default;
$tablet-max: "only screen and (max-width: 1023px)" !default;
$tablet-s: "only screen and (min-width: 600px) and (max-width: 719px)" !default;
$tablet-m: "only screen and (min-width: 720px) and (max-width: 839px)" !default;
$tablet-l: "only screen and (min-width: 840px) and (max-width: 1023px)" !default;
$desktop: "only screen and (min-width: 960px)" !default;
$desktop-max: "only screen" !default;
$desktop-s: "only screen and (min-width: 960px) and (max-width: 1023px)" !default;
$desktop-m: "only screen and (min-width: 1024px) and (max-width: 1279px)" !default;
$desktop-l: "only screen and (min-width: 1280px)" !default;
$high-dpi: "only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min-resolution: 120dpi)" !default;


// Dividers */
$divider-color: #dbdbdb;
$divider-height: 1px;
