@include import-once('popover') {
  $caretWithBorder: unit-add($popover-caret-size, $popover-border-width);

  #{$popover-class} {
    @extend %hidden;
    display: block;
    position: absolute;
    background: $popover-background;
    box-shadow: $popover-box-shadow;
    border-radius: $popover-border-radius;

    &#{$droppable-class} {
      transition-delay: map-get($animation-speeds, med) + $popover-transition-delay-out, $popover-transition-delay-out, $popover-transition-delay-out;
    }

    &#{mod($droppable-class, dropped)} {
      transition-delay: $popover-transition-delay-in;
    }
  }

  @each $name in map-keys($animation-speeds) {
    #{$popover-class}#{$droppable-class}#{$animate-class}--#{$name} {
      transition-delay: map-get($animation-speeds, $name) + $popover-transition-delay-out, $popover-transition-delay-out, $popover-transition-delay-out;
    }

    #{$popover-class}#{mod($droppable-class, dropped)}#{$animate-class}--#{$name} {
      transition-delay: $popover-transition-delay-in;
    }
  }

  .no-touchevents {
    #{$popover-class}:hover {
      @extend %visible;
      @include transform(translate3d(0, 0, 0));
      @include prefix((transition-delay: $popover-transition-delay-out), webkit);
    }
  }

  #{$popover-class}#{mod($droppable-class, top)},
  #{$popover-class}#{mod($droppable-class, bottom)} {
    top: auto;
    bottom: 100%;
    margin-bottom: $popover-caret-size;

    &:before,
    &:after {
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    &:before {
      @include caret($caretWithBorder,
                     $popover-border-color,
                     $direction: bottom,
                     $pad: $popover-border-width);
    }

    &:after {
      @include caret($caretWithBorder,
                     $popover-background,
                     $direction: bottom);
    }
  }


  #{$popover-class}#{mod($droppable-class, right)},
  #{$popover-class}#{mod($droppable-class, left)} {
    top: -50%;
    left: calc(100% + #{unit-add($popover-caret-size, 2px)});
    right: auto;

    &:before,
    &:after {
      top: 0;
      bottom: 0;
      margin: auto 0;
    }

    &:before {
      @include caret($caretWithBorder,
                     $popover-border-color,
                     $direction: left,
                     $pad: $popover-border-width);
    }

    &:after {
      @include caret($caretWithBorder,
                     $popover-background,
                     $direction: left);
    }
  }

  #{$popover-class}#{mod($droppable-class, bottom)} {
    top: 100%;
    bottom: auto;
    margin-top: $popover-caret-size;
    margin-bottom: auto;

    &:before {
      @include caret($caretWithBorder,
                     $popover-border-color,
                     $direction: top,
                     $pad: $popover-border-width);
    }

    &:after {
      @include caret($caretWithBorder,
                     $popover-background,
                     $direction: top);
    }
  }

  #{$popover-class}#{mod($droppable-class, left)} {
    top: -50%;
    left: auto;
    right: calc(100% + #{unit-add($popover-caret-size, 2px)});

    &:before {
      @include caret($caretWithBorder,
                     $popover-border-color,
                     $direction: right,
                     $pad: $popover-border-width);
    }

    &:after {
      @include caret($caretWithBorder,
                     $popover-background,
                     $direction: right);
    }
  }

  // Child elements */
  #{$popover-class} > #{$card-class},
  #{$popover-class} > #{$navbar-class} {
    border: 0;
    margin: 0;
    border-radius: $popover-border-radius;

    header, #{el($card-class, header)} {
      background: $popover-background;
    }
  }
}
