@include import-once('select') {
  #{$select-class} {
    position: relative;

    select {
      display: none;
    }
  }

  #{mod($select-class, open)} {
    #{el($select-class, menu)} {
      @extend %visible;
      margin-top: -1px;
    }
  }

  #{el($select-class, toggle)} {
    position: relative;
    z-index: 2;
  }

  #{el($select-class, menu)} {
    @extend %hidden;
    position: absolute;
    background: $select-menu-background;
    max-height: $select-menu-max-height;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: $select-menu-border-radius;
    padding: $select-menu-padding-top
             $select-menu-padding-right
             $select-menu-padding-bottom
             $select-menu-padding-left;
    text-align: $select-menu-text-align;
    width: $select-menu-width;
    top: 100%;
    min-width: $select-menu-min-width;
    z-index: 1;
    @include box-shadow($select-menu-shadow);

    li {
      color: $select-item-color;
      width: 100%;
      padding: $select-item-padding-top
               $select-item-padding-right
               $select-item-padding-bottom
               $select-item-padding-left;
    }
  }

  .no-touchevents #{el($select-class, menu)} li {
    &:hover {
      cursor: pointer;
      color: $select-item-hover-color;
      background: $select-item-hover-background;
      border-color: $select-item-hover-border-color;
      border-style: $select-item-hover-border-style;
      border-width: $select-item-hover-border-width;
    }

    &:active {
      color: $select-item-active-color;
      background: $select-item-active-background;
      border-color: $select-item-active-border-color;
      border-style: $select-item-active-border-style;
      border-width: $select-item-active-border-width;
    }
  }

  .input-group, #{$button-class}-group {
    & > #{$select-class}:first-child:not(:last-child) #{el($select-class, toggler)} {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

    & > #{$select-class}:last-child:not(:first-child) #{el($select-class, toggler)} {
      border-left: 0 !important;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }

    & > #{$select-class}:not(:first-child):not(:last-child) #{el($select-class, toggler)} {
      border-left: 0 !important;
      border-radius: 0 !important;
    }

    #{$select-class} {
      margin: 0;
    }
  }


  #{el($select-class, caret)} {
    @extend %transform--fast;
    left: 12px;
    position: relative;
  }

  #{mod($select-class, open)} #{el($select-class, caret)} {
    @include transform(rotate(-180deg));
  }
}
