@include import-once('select-placeholders') {
  %#{$select-name}__toggler--hover {
    cursor: pointer;
    background: $select-toggler-hover-background;
    color: $select-toggler-hover-color;
    border-style: $select-toggler-hover-border-style;
    border-width: $select-toggler-hover-border-width;
    border-color: $select-toggler-hover-border-color;
    border-radius: $select-toggler-hover-border-radius;
  }


  %#{$select-name}__toggler--active {
    cursor: pointer;
    background: $select-toggler-active-background;
    color: $select-toggler-active-color;
    border-style: $select-toggler-active-border-style;
    border-width: $select-toggler-active-border-width;
    border-color: $select-toggler-active-border-color;
    border-radius: $select-toggler-active-border-radius;
  }
}
