@include import-once('navbar') {
  #{$navbar-class} {
    @extend %#{$flex-name};
    @extend %#{$flex-name}--y-center;
    @extend %#{$flex-name}--nowrap;
    position: relative;
    background: $navbar-background;
    border-style: $navbar-border-style;
    border-width: $navbar-border-width;
    border-color: $navbar-border-color;
    width: $navbar-width;
    @include break-for(gutters--x);

    & > * {
      @extend %#{$flex-name};
      @extend %#{$flex-name}--fixed;
      @extend %#{$flex-name}--y-center;
    }

    & > li {
      @extend %#{$flex-name}--self-stretch;
      @extend %#{$flex-name}--y-center;
    }

    & > #{$dropdown-class},
    & > li > #{$dropdown-class},
    & > #{$button-class}-group,
    & > li > #{$button-class}-group,
    & > .input-group,
    & > li > .input-group {
      @include break-for(margin-gutters);
    }

    #{$navbar-class}__link {
      @extend %#{$navbar-name}__item;
    }

    & > {
      @include headings  {
        @extend %#{$navbar-name}__item;
      }

      a {
        @extend #{$navbar-class}__link;
      }
    }

    & > li {
      & > {
        @include headings  {
          @extend %#{$navbar-name}__item;
        }

        a {
          @extend #{$navbar-class}__link;
        }
      }
    }

    #{$navbar-class}__link,
    & > li > a,
    & > a {
      font-weight: $navbar-link-font-weight;
    }

    & + #{$navbar-class} {
      border-top: 0;
    }

    #{$navbar-class} {
      border: 0;
      width: auto;
      background: transparent;
    }
  }


  #{$navbar-class}--overflow {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }


  #{$navbar-class}__link {
    background: $navbar-link-background;
  }


  .no-touchevents #{$navbar-class}__link:active,
  .no-touchevents #{$navbar-class}__link.active:hover,
  #{$navbar-class}__link.active,
  #{$navbar-class} > a.active,
  #{$navbar-class} > a:active,
  #{$navbar-class} > li > a.active,
  #{$navbar-class} > li > a:active {
    background: $navbar-link-active-background;
    color: $navbar-link-active-color;
  }

  .no-touchevents #{$navbar-class}__link:hover {
    background: $navbar-link-hover-background;
    color: $navbar-link-hover-color;

  }


  #{$navbar-class}--sticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: sticky;
  }


  #{$navbar-class}#{$navbar-class}--fixed-top,
  #{$navbar-class}--fixed-top {
    @extend %fixed-top-fw;
    border-top: 0;
  }


  #{$navbar-class}#{$navbar-class}--fixed-bottom,
  #{$navbar-class}--fixed-bottom {
    @extend %fixed-bottom-fw;
    border-bottom: 0;
  }

  @include harden-border-width($navbar-name);
  @include extend-flex($selectors: ($navbar-class,));
  @include harden-padding($navbar-name);
  @include colorize('#{$navbar-class}#{$bg-class}');
}
