$navbar-name: 'navbar' !default;
$navbar-class: unquote("#{unquote(".")}#{$navbar-name}") !default;
$navbar-background: $white !default;
$navbar-border-color: $border !default;
$navbar-border-style: solid !default;
$navbar-border-width: $border-width 0 !default;
$navbar-padding: 0 0 !default;
$navbar-width: 100% !default;

$navbar-link-font-weight: 400;
$navbar-link-background: transparent;
$navbar-link-hover-background: transparent;
$navbar-link-hover-color: $link-hover-color;
$navbar-link-active-background: transparent;
$navbar-link-active-color: $link-active-color;
