@include import-once('list') {
  #{$list-class} {
    @extend %#{$flex-name};
    @extend %#{$flex-name}--y;
    background: $list-background;
    border-color: $list-border-color;
    border-style: $list-border-style;
    border-width: $list-border-width;
    border-radius: $list-border-radius;
    padding: $list-padding-top $list-padding-right
             $list-padding-bottom $list-padding-left;
    width: $list-width;
    min-width: $list-min-width;
    text-align: $list-text-align;
    @include flex-basis(100%);

    & > li {
      @extend %#{$flex-name}--grow;
      @extend %#{$flex-name}--y-center;
      width: 100%;
      border-color: $list-item-border-color;
      border-style: $list-item-border-style;
      border-width: $list-item-border-width;

      & > a {
        @extend %#{$flex-name};
        @extend %#{$flex-name}--self-stretch;
        @extend %#{$flex-name}--y-center;
        width: 100%;
        white-space: nowrap;
        color: $list-link-color;
        background: $list-link-background;
        border-color: $list-link-border-color;
        border-style: $list-link-border-style;
        border-width: $list-link-border-width;
        padding: $list-content-padding-top $list-content-padding-right
                 $list-content-padding-bottom $list-content-padding-left;
      }

      &:last-child {
        border-bottom: 0;
      }
    }

    li#{$list-class}#{$list-class}__item,
    #{$list-class}__item {
      display: block;
      padding: $list-content-padding-top $list-content-padding-right
               $list-content-padding-bottom $list-content-padding-left;
    }

    li#{$list-class}__heading,
    #{$list-class}__heading {
      white-space: nowrap;
      clear: both;
      padding: $list-heading-padding-top $list-heading-padding-right
               $list-heading-padding-bottom $list-heading-padding-left;
      border-color: $list-heading-border-color;
      border-style: $list-heading-border-style;
      border-width: $list-heading-border-width;
      @include font-line($list-heading-font-size,
                         $list-heading-line-height,
                         $color: $list-heading-color,
                         $weight: $list-heading-weight);
    }
  }

  #{$list-class}#{$list-class}--x {
    @extend %#{$flex-name}--y-stretch;

    & > li {
      @extend %#{$flex-name};
      @extend %#{$flex-name}--grow;
      @extend %#{$flex-name}--y-center;
      @extend %#{$flex-name}--nowrap;
      border-color: $list-x-item-border-color;
      border-style: $list-x-item-border-style;
      border-width: $list-x-item-border-width;
      width: auto;

      &:last-child {
        border-right: 0;
      }
    }

    li#{$list-class}__heading,
    #{$list-class}__heading {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .no-touchevents #{$list-class} > li > a {
    &:hover {
      color: $list-link-hover-color;
      background: $list-link-hover-background;
      border-color: $list-link-hover-border-color;
      border-style: $list-link-hover-border-style;
      border-width: $list-link-hover-border-width;
    }

    &:active {
      color: $list-link-active-color;
      background: $list-link-active-background;
      border-color: $list-link-active-border-color;
      border-style: $list-link-active-border-style;
      border-width: $list-link-active-border-width;
    }
  }


  @include extend-flex(#{$list-name}, ("", #{$list-class}));
}
