$list-name: list !default;
$list-class: '.#{$list-name}' !default;

$list-name: 'list' !default;
$list-class: ".#{$list-name}" !default;
$list-background: $white !default;
$list-border-color: $border !default;
$list-border-style: solid !default;
$list-border-width: $border-width !default;
$list-border-radius: 0 0 2px 2px !default;
$list-padding-top: 0 !default;
$list-padding-right: $list-padding-top * 2 !default;
$list-padding-bottom: $list-padding-top !default;
$list-padding-left: $list-padding-right !default;
$list-text-align: left !default;
$list-width: auto !default;
$list-min-width: inherit !default;

$list-item-border-color: none !default;
$list-item-border-style: auto !default;
$list-item-border-width: 0 0 0 0 !default;

$list-x-item-border-color: none !default;
$list-x-item-border-style: auto !default;
$list-x-item-border-width: 0 0 0 0 !default;

$list-content-padding-top: map-get($grid-gutter, xs) !default;
$list-content-padding-right: golden($list-content-padding-top) !default;
$list-content-padding-bottom: $list-content-padding-top !default;
$list-content-padding-left: $list-content-padding-right !default;

$list-link-color: $link-color !default;
$list-link-background: transparent !default;
$list-link-border-color: transparent !default;
$list-link-border-style: none !default;
$list-link-border-width: 0 !default;

$list-link-hover-color: $link-hover-color !default;
$list-link-hover-background: $lightest-grey !default;
$list-link-hover-border-color: transparent !default;
$list-link-hover-border-style: none !default;
$list-link-hover-border-width: 0 !default;

$list-link-active-color: $link-active-color !default;
$list-link-active-background: $light-grey !default;
$list-link-active-border-color: transparent !default;
$list-link-active-border-style: none !default;
$list-link-active-border-width: 0 !default;

$list-heading-font-size: map-get($type-font-size, sm) !default;
$list-heading-line-height: $body-line-height !default;
$list-heading-color: $grey !default;
$list-heading-weight: 400 !default;
$list-heading-padding-top: map-get($grid-gutter, md) !default;
$list-heading-padding-right: $list-content-padding-right !default;
$list-heading-padding-bottom: rgolden($list-heading-padding-top) !default;
$list-heading-padding-left: $list-heading-padding-right !default;
$list-heading-border-color: none !default;
$list-heading-border-style: auto !default;
$list-heading-border-width: 0 !default;
