@include import-once('colors') {
  @include colorize($border-class, 'border');
  @include colorize($bg-class, 'bg');

  a {
    text-decoration: $link-text-decoration;
    color: $link-color;
    -webkit-tap-highlight-color: $link-tap-highlight;
  }


  .no-touchevents a {
    &:hover {
      color: $link-hover-color;
    }

    &:active {
      color: $link-active-color;
    }
  }

  -moz-selection, ::selection, textarea::selection {
    background: $selection-background;
    color: $selection-font-color;
  }

  body {
    background: $body-background;
  }
}
