$hero-name: hero !default;
$hero-class: '.#{$hero-name}' !default;
$hero-height: 100vh !default;
$hero-width: 100vw !default;
$hero-position: relative !default;
$hero-text-align: center !default;
$hero-overflow-y: auto !default;
