/** Creates placeholders and classes */
@mixin spacing-placeholders($size, $pre, $prop) {
  $spacing-name: --spacing--#{$prop}--#{$size}--#{$pre};

  @include keep($spacing-name) {
    $stripped-size: strip-units($size);

    %#{$pre}--t#{$stripped-size} {
      #{$prop}-top: $size !important;
    }

    %#{$pre}--b#{$stripped-size} {
      #{$prop}-bottom: $size !important;
    }

    %#{$pre}--y#{$stripped-size} {
      @extend %#{$pre}--t#{$stripped-size};
      @extend %#{$pre}--b#{$stripped-size};
    }

    %#{$pre}--r#{$stripped-size} {
      #{$prop}-right: $size !important;
    }

    %#{$pre}--l#{$stripped-size} {
      #{$prop}-left: $size !important;
    }

    %#{$pre}--x#{$stripped-size} {
      @extend %#{$pre}--r#{$stripped-size};
      @extend %#{$pre}--l#{$stripped-size};
    }

    %#{$pre}--#{$stripped-size} {
      #{$prop}: $size !important;
    }
  }
}


@mixin spacing-group($size, $pre, $prop) {
  $stripped-size: strip-units($size);

  @include spacing-placeholders($size, $pre, $prop);

  .#{$pre}--t#{$stripped-size} {
    @extend %#{$pre}--t#{$stripped-size};
  }

  .#{$pre}--b#{$stripped-size} {
    @extend %#{$pre}--b#{$stripped-size};
  }

  .#{$pre}--y#{$stripped-size} {
    @extend %#{$pre}--y#{$stripped-size};
  }

  .#{$pre}--r#{$stripped-size} {
    @extend %#{$pre}--r#{$stripped-size};
  }

  .#{$pre}--l#{$stripped-size} {
    @extend %#{$pre}--l#{$stripped-size};
  }

  .#{$pre}--x#{$stripped-size} {
    @extend %#{$pre}--x#{$stripped-size};
  }

  .#{$pre}--#{$stripped-size} {
    @extend %#{$pre}--#{$stripped-size};
  }
}


@mixin margin-group($size, $prefix: $margin-name) {
  @include spacing-group($size, $prefix, 'margin')
}


@mixin padding-group($size, $prefix: $padding-name) {
  @include spacing-group($size, $prefix, 'padding')
}


@mixin margin-placeholders($size, $prefix: $margin-name) {
  @include spacing-placeholders($size, $prefix, 'margin')
}


@mixin padding-placeholders($size, $prefix: $padding-name) {
  @include spacing-placeholders($size, $prefix, 'padding')
}
