/** Creates placeholders and classes */
@mixin spacing-placeholders($scale, $pre, $prop) {
  $size: scale-rem(nth($spacing-scale, $scale + 1));
  $spacing-name: --spacing--#{$prop}--#{$scale}--#{$pre};

  @include keep($spacing-name) {
    %#{$pre}--t#{$scale} {
      #{$prop}-top: $size !important;
    }

    %#{$pre}--b#{$scale} {
      #{$prop}-bottom: $size !important;
    }

    %#{$pre}--y#{$scale} {
      @extend %#{$pre}--t#{$scale};
      @extend %#{$pre}--b#{$scale};
    }

    %#{$pre}--r#{$scale} {
      #{$prop}-right: $size !important;
    }

    %#{$pre}--l#{$scale} {
      #{$prop}-left: $size !important;
    }

    %#{$pre}--x#{$scale} {
      @extend %#{$pre}--r#{$scale};
      @extend %#{$pre}--l#{$scale};
    }

    %#{$pre}--#{$scale} {
      #{$prop}: $size !important;
    }
  }
}


@mixin spacing-group($scale, $pre, $prop) {
  $size: scale-rem(nth($spacing-scale, $scale + 1));

  @include spacing-placeholders($scale, $pre, $prop);

  .#{$pre}--t#{$scale} {
    @extend %#{$pre}--t#{$scale};
  }

  .#{$pre}--b#{$scale} {
    @extend %#{$pre}--b#{$scale};
  }

  .#{$pre}--y#{$scale} {
    @extend %#{$pre}--y#{$scale};
  }

  .#{$pre}--r#{$scale} {
    @extend %#{$pre}--r#{$scale};
  }

  .#{$pre}--l#{$scale} {
    @extend %#{$pre}--l#{$scale};
  }

  .#{$pre}--x#{$scale} {
    @extend %#{$pre}--x#{$scale};
  }

  .#{$pre}--#{$scale} {
    @extend %#{$pre}--#{$scale};
  }
}


@mixin margin-group($size, $prefix: $margin-name) {
  @include spacing-group($size, $prefix, 'margin')
}


@mixin padding-group($size, $prefix: $padding-name) {
  @include spacing-group($size, $prefix, 'padding')
}


@mixin margin-placeholders($size, $prefix: $margin-name) {
  @include spacing-placeholders($size, $prefix, 'margin')
}


@mixin padding-placeholders($size, $prefix: $padding-name) {
  @include spacing-placeholders($size, $prefix, 'padding')
}
