$padding-name: 'p' !default;
$margin-name: 'm' !default;
$padding-class: '.#{$padding-name}' !default;
$margin-class: '.#{$margin-name}' !default;

// padding + margins
$spacing-scale: (0, 1/4, 1/2, 1, 2, 4, 8, 16, 32) !default;
