@include import-once('form') {
  // Resets */
  button,
  select {
    text-transform: none;
  }

  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  [type=text],
  [type=email],
  [type=tel],
  [type=url],
  [type=search],
  [type=submit],
  [type=date],
  [type=password],
  textarea,
  button {
    @extend %reset-form-appearance;
  }

  [type="search"] {
    -webkit-appearance: none;
    outline-offset: -2px;
  }

  button::-moz-focus-inner {
    border: 0;
    margin: 0;
    padding: 0;
  }

  :focus { outline: 0 }

  input[type=date] {
      min-height: $input-text-line-height;
  }


  select {
    @include font-line($input-text-font-size, $input-text-line-height,
                       $color: $input-text-font-color,
                       $weight: $input-text-font-weight,
                       $family: $input-text-font);
  }


  // Text inputs */
  [type=text],
  [type=email],
  [type=tel],
  [type=number],
  [type=url],
  [type=password],
  [type=date],
  [type=search] {
    @extend %input-text;
  }


  // Submit Buttons */
  [type=submit] {
    @extend %submit-button;
  }


  .no-touchevents [type=submit] {
    &:hover {
      @extend %submit-button-hover;
    }

    &:active {
      @extend %submit-button-active;
    }
  }


  // Textareas */
  textarea {
    @extend %textarea;
  }


  // Placeholders */
  .placeholder {
    @extend %input-placeholder;
  }


  *::-webkit-input-placeholder {
    /* Chrome + Safari */
    @extend .placeholder;
  }


  *:-moz-placeholder {
    /* FF 4-18 */
    @extend .placeholder;
  }


  *::-moz-placeholder {
    /* FF 19+ */
    @extend .placeholder;
  }


  *:-ms-input-placeholder {
    /* IE 10+ */
    @extend .placeholder;
  }
}
