// Forms
$input-text-font-size: 16px !default;
$input-text-line-height: normal !default;
$input-text-font-color: $grey !default;
$input-text-font-weight: 300 !default;
$input-text-font: inherit !default;

$input-text-margin: 0 !default;
$input-text-padding-top: 8px !default;
$input-text-padding-right: golden($input-text-padding-top) !default;
$input-text-padding-bottom: $input-text-padding-top !default;
$input-text-padding-left: $input-text-padding-right !default;
$input-text-background: $lightest-grey !default;
$input-text-border: unquote('#{$border-width} #{$border-style} #{$border}') !default;
$input-text-width: auto !default;
$input-text-border-radius: $border-radius !default;

$textarea-font-size: 16px !default;
$textarea-line-height: $paragraph-line-height !default;
$textarea-font-color: $grey !default;
$textarea-font-weight: 300 !default;
$textarea-font: inherit !default;

$textarea-margin: 0 !default;
$textarea-padding-top: 8px!default;
$textarea-padding-right: golden($textarea-padding-top) !default;
$textarea-padding-bottom: $textarea-padding-top !default;
$textarea-padding-left: $textarea-padding-right !default;
$textarea-background: $input-text-background !default;
$textarea-border: $input-text-border !default;
$textarea-border-radius: $border-radius !default;

$submit-font-color: $grey !default;
$submit-font-size: 16px !default;
$submit-line-height: $body-line-height !default;
$submit-font-weight: 700 !default;
$submit-font: inherit !default;

$submit-border: $input-text-border !default;
$submit-margin: 0 !default;
$submit-padding-top: 8px!default;
$submit-padding-right: golden($submit-padding-top) !default;
$submit-padding-bottom: $submit-padding-top !default;
$submit-padding-left: $submit-padding-right !default;
$submit-background: $white !default;
$submit-background-active: darken(white, 7%) !default;
$submit-background-hover: darken(white, 5%) !default;
$submit-border-radius: $border-radius !default;

$placeholder-font-size: $input-text-font-size !default;
$placeholder-line-height: normal !default;
$placeholder-font-color: $input-text-font-color !default;
$placeholder-font-weight: $input-text-font-weight !default;
$placeholder-font: $input-text-font !default;

$placeholder-opacity: 0.90 !default;
