@include import-once('drawer') {
  #{$drawer-class} {
    display: block;
    position: fixed;
    background: $drawer-background;
    z-index: $MAX-Z-INDEX;
    @include box-shadow($drawer-box-shadow);
  }

  #{mod($drawer-class, absolute)} {
    position: absolute;
  }

  #{$drawer-class}#{mod($slidable-class, top)},
  #{$drawer-class}#{mod($slidable-class, bottom)} {
    right: 0;
    left: 0;
    min-width: 100%;
    overflow-x: auto;
  }

  #{$drawer-class}#{mod($slidable-class, left)},
  #{$drawer-class}#{mod($slidable-class, right)} {
    top: 0;
    bottom: 0;
    min-height: 100%;
    overflow-y: auto;
  }

  #{$drawer-class}#{mod($slidable-class, top)} {
    top: 0;
  }

  #{$drawer-class}#{mod($slidable-class, right)} {
    right: 0;
  }

  #{$drawer-class}#{mod($slidable-class, bottom)} {
    bottom: 0;
  }

  #{$drawer-class}#{mod($slidable-class, left)} {
    left: 0;
  }
}
