$drawer-name: drawer;
$drawer-class: '.#{$drawer-name}';

$drawer-background: $lightest-grey;
$drawer-border-color: $border;
$drawer-border-width: 0 $border-width 0 0;
$drawer-border-style: $border-style;
$drawer-box-shadow: 6px 0px 20px $border;
