$drawer-name: drawer;
$drawer-class: '.#{$drawer-name}';

$drawer-background: $lightest-grey;
$drawer-border-color: $border;
$drawer-border-width: $border-width;
$drawer-border-style: $border-style;
$drawer-box-shadow: 0 0 6px $dark-border;
