@include import-once('type') {
  html {
    word-wrap: break-word;
    /** the zoom makes zero sense to me */
    @include prefix((text-size-adjust: 100%), webkit ms);
  }


  pre {
    -webkit-font-smoothing: auto;
    font-smoothing: auto;
  }


  body {
    @extend %optimize-speed;
    @include rem-property(letter-spacing, $body-letter-spacing);
    @include font-line($body-font-size,
                       $body-line-height,
                       $color: $body-font-color,
                       $weight: $body-font-weight,
                       $family: $body-font);

    @media #{$high-dpi} {
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
    }
  }


  h1, h2, h3, h4, h5, h6, #{$type-class}--h1 {
    text-align: $heading-text-align;
    @include rem-property(letter-spacing, $heading-letter-spacing);
    @include font-line(map-get($heading-size, h1),
                       $heading-line-height,
                       $color: $heading-color,
                       $weight: $heading-font-weight,
                       $family: $heading-font);
  }


  @each $h in ('h2', 'h3', 'h4', 'h5', 'h6') {
    #{$h} {
      $size: map-get($heading-size, $h);
      @include font($size);
    }
    #{$type-class}--#{$h} {
      @extend #{$h};
    }
  }


  p {
    padding: $paragraph-padding;
    margin: $paragraph-margin;
    text-align: $paragraph-text-align;
    word-break: break-word;
    @include rem-property(letter-spacing, $paragraph-letter-spacing);
    @include font-line($paragraph-font-size, $paragraph-line-height,
                       $color: $paragraph-font-color,
                       $weight: $paragraph-font-weight,
                       $family: $paragraph-font);
  }


  #{$type-class}--left {
    @extend %type--left;
  }


  #{$type-class}--right {
    @extend %type--right;
  }


  #{$type-class}--center {
    @extend %type--center;
  }

  #{$type-class}--ellipsis {
    max-width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  @each $color in map-keys($colors) {
    #{$type-class}--#{$color} {
      @extend %#{$type-name}--#{$color};
    }
  }


  @each $size in map-keys($type-font-size) {
    #{$type-class}--#{$size} {
      @extend %#{$type-name}--#{$size};
    }
  }

  @each $weight in map-keys($type-weight) {
    #{$type-class}--#{$weight} {
      @extend %#{$type-name}--#{$weight};
    }
  }
}
