@function get-font-size($scale) {
  @return map-get($type-font-size, $scale);
}

@mixin font-size($scale) {
  @include keep(--font-#{$scale}) {
    font-size: get-font-size($scale);
  }
}


@mixin line-height($size) {
  @include rem-property('line-height', $size);
}


@mixin font($size, $weight:null, $color:null, $family:null) {
  @if $size and $size > 20px {
    text-rendering: optimizeLegibility;
  }
  @if $weight {
    font-weight: $weight;}
  @if $color {
    color: $color;}
  @if $family {
    font-family: $family;}
  @include rem-property('font-size', $size);
}


@mixin font-line($size, $line-size, $weight:null, $color:null, $family:null) {
  @include font($size, $weight, $color, $family);
  @include line-height($line-size);
}


@mixin headings {
  h1, h2, h3, h4, h5, h6,
  #{$type-class}--h1,
  #{$type-class}--h2,
  #{$type-class}--h3,
  #{$type-class}--h4,
  #{$type-class}--h5,
  #{$type-class}--h6 {
    @content;
  }
}
