@include import-once('type-placeholders') {
  @each $size in map-keys($type-font-size) {
    %#{$type-name}--#{$size} {
      @include font-line(map-get($type-font-size, $size),
                         map-get($type-line-height, $size));
      /*
      @include breakpoint(nth(map-keys($grid-breakpoint), 1)) {
        @include font(map-get($type-font-size-s, $size));
      }
      */
    }
  }


  @each $color in map-keys($colors) {
    %#{$type-name}--#{$color} {
      color: map-get($colors, $color);
    }
  }

  @each $weight in map-keys($type-weight) {
    %#{$type-name}--#{$weight} {
      font-weight: map-get($type-weight, $weight);
    }
  }

  %#{$type-name}--left {
    text-align: left;
    justify-content: left;
  }


  %#{$type-name}--right {
    text-align: right;
    justify-content: right;
  }


  %#{$type-name}--center {
    text-align: center;
    justify-content: center;
  }

  %optimize-legibility {
    text-rendering: optimizeLegibility;
  }

  %optimize-speed {
    text-rendering: optimizeSpeed;
  }
}
