$type-name: 'type' !default;
$type-class: ".#{$type-name}" !default;


// Body
$body-font: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", sans-serif !default;
$body-font-size: $base-rem !default;
$body-font-color: $grey !default;
$body-line-height: 1.1 !default;
$body-font-weight: 300 !default;
$body-letter-spacing: inherit !default;


// Paragraphs */
$paragraph-padding: 0 !default;
$paragraph-margin: 0 0 scale-rem(nth($spacing-scale, 2)) !default;

$paragraph-font: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", sans-serif !default;
$paragraph-font-size: $base-rem !default;
$paragraph-line-height: 1.4 !default;
$paragraph-letter-spacing: inherit !default;
$paragraph-font-color: inherit !default;
$paragraph-font-weight: 300 !default;
$paragraph-text-align: left !default;


// Type sizes
$type-scale: (
  xxs: 12/16,
  xs: 14/16,
  sm: 16/16,
  md: 19/16,
  lg: 23/16,
  xl: 36/16,
  xxl: 48/16
) !default;


$type-font-size: (
  xxs: strip-units(scale-rem(map-get($type-scale, xxs))) * 16px,
  xs: strip-units(scale-rem(map-get($type-scale, xs))) * 16px,
  sm: strip-units(scale-rem(map-get($type-scale, sm))) * 16px,
  md: strip-units(scale-rem(map-get($type-scale, md))) * 16px,
  lg: strip-units(scale-rem(map-get($type-scale, lg))) * 16px,
  xl: strip-units(scale-rem(map-get($type-scale, xl))) * 16px,
  xxl: strip-units(scale-rem(map-get($type-scale, xxl))) * 16px
) !default;

$type-line-height: (
  xxs: $body-line-height,
  xs: $body-line-height,
  sm: $body-line-height,
  md: $body-line-height,
  lg: $body-line-height,
  xl: $body-line-height,
  xxl: $body-line-height
) !default;


$type-font-size-s: (
  xxs: map-get($type-font-size, xxs) * 0.9,
  xs: map-get($type-font-size, xs) * 0.9,
  sm: map-get($type-font-size, sm) * 0.9,
  md: map-get($type-font-size, md) * 0.9,
  lg: map-get($type-font-size, lg) * 0.9,
  xl: map-get($type-font-size, xl) * 0.9,
  xxl: map-get($type-font-size, xxl) * 0.9
) !default;


$type-weight: (
  thin: 100,
  ultra-light: 200,
  light: 300,
  regular: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700,
  heavy: 800,
  ultra-heavy: 900,
);


// Headings */
$heading-font: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", sans-serif !default;
$heading-color: $grey !default;
$heading-font-weight: 300 !default;
$heading-text-align: left !default;
$heading-line-height: 1.1 !default;
$heading-letter-spacing: inherit !default;
$heading-size: (
  h1: map-get($type-font-size, xxl),
  h2: map-get($type-font-size, xl),
  h3: map-get($type-font-size, lg),
  h4: map-get($type-font-size, md),
  h5: map-get($type-font-size, sm),
  h6: map-get($type-font-size, xs)
) !default;
