$type-name: 'type' !default;
$type-class: unquote("#{unquote(".")}#{$type-name}") !default;


// Body
$body-font: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Arial, sans-serif !default;
$body-font-size: 16px !default;
$body-font-color: $grey !default;
$body-line-height: 1.1 !default;
$body-font-weight: 300 !default;


// Headings */
$heading-font: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Arial, sans-serif !default;
$heading-color: $grey !default;
$heading-max-font-size: 48px !default;
$heading-font-weight: 300 !default;
$heading-text-align: left !default;
$heading-line-height: 1.1 !default;


// Paragraphs */
$paragraph-padding: 0 !default;
$paragraph-margin: 0 0 1.2 !default;

$paragraph-font: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Arial, sans-serif !default;
$paragraph-font-size: 16px !default;
$paragraph-line-height: 1.4 !default;
$paragraph-letter-spacing: initial !default;
$paragraph-font-color: inherit !default;
$paragraph-font-weight: 300 !default;
$paragraph-text-align: left !default;


// Type sizes
$type-font-size: (
  xs: 10px,
  s: 12px,
  m: 20px,
  l: 32px,
  xl: 40px
) !default;


$type-line-height: (
  xs: $body-line-height,
  s: $body-line-height,
  m: $body-line-height,
  l: $body-line-height,
  xl: $body-line-height
) !default;


$type-font-size-phone: (
  xs: 10px,
  s: 12px,
  m: 18px,
  l: 28px,
  xl: 36px
) !default;


$type-line-height-phone: (
  xs: $body-line-height,
  s: $body-line-height,
  m: $body-line-height,
  l: $body-line-height,
  xl: $body-line-height
) !default;
