@include import-once('checkbox') {
  #{$checkbox-class} {
    @extend %#{$flex-name};
    @extend %#{$flex-name}--y-center;
    padding: 0 8px;

    input[type=checkbox] {
      display: none;
    }
  }

  #{$checkbox-class} label {
    @extend %#{$flex-name};
    padding: 0 0 0 8px;
    @include font-line(16px, 100%);

    &:hover {
      cursor: pointer;
    }
  }


  #{$checkbox-class}__box {
    @extend %hardware-accel;
    @extend %#{$flex-name};
    @extend %#{$flex-name}--y-center;
    @extend %#{$flex-name}--x-center;
    border-width: 1px;
    border-style: solid;
    border-color: $light-border;
    background: $light-grey;
    color: $blue;
    border-radius: $MAX-PX;
    height: $checkbox-checkmark-height;
    width: $checkbox-checkmark-width;
    @include animate(background $FAST linear);

    & > * {
      @extend %#{$flex-name};
    }

    &:hover {
      cursor: pointer;
    }
  }


  .no-touchevents {
    #{$checkbox-class}__box:hover #{$checkbox-class}__checkmark {
      visibility: visible;
      opacity: 0.5;
    }

    #{$checkbox-class}.checked #{$checkbox-class}__box:hover
    #{$checkbox-class}__checkmark {
      opacity: 1.0;
    }
  }


  #{$checkbox-class}__checkmark {
    @extend %#{$flex-name};
    @extend %#{$flex-name}--y-center;
    @extend %#{$flex-name}--x-center;
    color: $white;
    visibility: hidden;
    opacity: 0;
    @include fade-in($FAST);

    & > * {
      @extend %#{$flex-name};
    }
  }


  #{$checkbox-class}.checked {
    #{$checkbox-class}__checkmark {
      visibility: visible;
      opacity: 1.0;
      color: $white;
      @include fade-out($FAST);
    }

    #{$checkbox-class}__box {
      border-color: $blue;
      background: $blue;
    }
  }
}
