@include import-once('checkbox') {
  #{$checkbox-class} {
    @extend %#{$flex-name};
    @extend %#{$flex-name}--y-stretch;
    padding: 0 8px;

    input[type=checkbox] {
      display: none;
    }
  }

  #{$checkbox-class} label {
    @extend %#{$flex-name};
    @extend %#{$flex-name}--y-center;
    padding: 0 0 0 8px;
    @include font-line(16px, 100%);

    &:hover {
      cursor: pointer;
    }
  }


  #{el($checkbox-class, box)} {
    @extend %#{$flex-name};
    @extend %#{$flex-name}--y-center;
    @extend %#{$flex-name}--x-center;
    border-width: 1px;
    border-style: solid;
    border-color: $light-border;
    background: $light-grey;
    color: $blue;
    border-radius: $MAX-PX;
    height: $checkbox-checkmark-height;
    width: $checkbox-checkmark-width;
    @include animate(background $FAST linear);

    & > * {
      @extend %#{$flex-name};
    }

    &:hover {
      cursor: pointer;
    }
  }


  .no-touchevents {
    #{el($checkbox-class, box)}:hover #{el($checkbox-class, checkmark)} {
      visibility: visible;
      opacity: 0.5;
    }

    #{$checkbox-class}:not(.checked):hover {
      cursor: pointer;

      #{el($checkbox-class, checkmark)} {
        opacity: 0.5;
        visibility: visible;
      }
    }

    #{$checkbox-class}.checked #{el($checkbox-class, box)}:hover
    #{el($checkbox-class, checkmark)} {
      opacity: 1.0;
    }
  }


  #{el($checkbox-class, checkmark)} {
    @extend %#{$flex-name};
    @extend %#{$flex-name}--y-center;
    @extend %#{$flex-name}--x-center;
    color: $white;
    visibility: hidden;
    opacity: 0;
    @include fade-in($FAST);

    & > * {
      @extend %#{$flex-name};
    }
  }

  #{$checkbox-class}.checked {
    #{el($checkbox-class, checkmark)} {
      visibility: visible;
      opacity: 1.0;
      color: $white;
      @include fade-out($FAST);
    }

    #{el($checkbox-class, box)} {
      border-color: $checkbox-checked-background;
      background: $checkbox-checked-background;
    }
  }
}
