$checkbox-name: 'checkbox' !default;
$checkbox-class: ".#{$checkbox-name}" !default;

$checkbox-height: 28px !default;
$checkbox-width: 28px !default;

$checkbox-background: $light-grey !default;
$checkbox-checked-background: $green !default;
$checkbox-readonly-background: $grey !default;
$checkbox-border-radius: $MAX-PX !default;
$checkbox-line-height: 1.0 !default;
