@include import-once('animate-placeholders') {
  // Attempt to force GPU rendering
  %hardware-accel {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    transform: translateZ(0);
    /**
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    @include prefix((transform: translate3d(0, 0, 0)),
                    webkit);
    */
  }


  %transform--fast {
    @include animate(transform $FAST ease-out);
  }


  %transform {
    @include animate(transform $MED ease-out);
  }


  %transform--slow {
    @include animate(transform $SLOW ease-out);
  }
}
