@include import-once('dropdown') {
  #{$dropdown-class} {
    position: relative;
  }

  #{$dropdown-class} button,
  #{$dropdown-class} #{$button-class} {
    z-index: 2;
    position: relative;
  }

  #{el($dropdown-class, menu)} {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
    background: $dropdown-background;
    border-radius: $dropdown-border-radius;
    padding: $dropdown-padding-top $dropdown-padding-right
             $dropdown-padding-bottom $dropdown-padding-left;
    min-width: $dropdown-min-width;
    box-shadow: $dropdown-box-shadow;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  #{el($dropdown-class, caret)} {
    @extend %type--xxs;
    @extend %transform--fast;
    display: inline-block;
    left: 6px;
    position: relative;
    color: $button-color;
    font-weight: 700;
    @include transform(rotate(0deg));
  }

  #{mod($dropdown-class, open)} #{el($dropdown-class, caret)} {
    @include transform(rotate(-180deg));
  }

  .input-group, #{$button-class}-group {
    & > #{$dropdown-class}:first-child:not(:last-child) #{$button-class} {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

    & > #{$dropdown-class}:last-child:not(:first-child) #{$button-class}{
      border-left: 0 !important;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }

    & > #{$dropdown-class}:not(:first-child):not(:last-child) #{$button-class} {
      border-left: 0 !important;
      border-radius: 0 !important;
    }

    #{$dropdown-class} {
      margin: 0;
    }
  }
}
