#{$paginate-class} {
  @extend .input-group;
  background: transparent;
  width: auto;
  border: 0;
  @include font-line(18px, 1.0em, $weight: 300);

  & > a:first-child:not(:last-child),
  #{$paginate-link-class}:first-child:not(:last-child),
  li:first-child:not(:last-child) a {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  & > a:last-child:not(:first-child),
  #{$paginate-link-class}:last-child:not(:first-child),
  li:last-child:not(:first-child) a {
    border-left: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  & > a:not(:first-child):not(:last-child),
  #{$paginate-link-class}:not(:first-child):not(:last-child),
  li:not(:first-child):not(:last-child) a {
    border-left: 0 !important;
    border-radius: 0 !important;
  }
}


#{$paginate-class} ul,
#{$paginate-class} ol,
#{$paginate-class} li {
  @extend %#{$flex-name};
}


#{$paginate-class} > a,
#{$paginate-class} li a,
#{$paginate-link-class} {
  @extend %#{$flex-name};
  @extend %#{$flex-name}--self-y-stretch;
  @extend %#{$flex-name}--y-center;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  background: transparent;
  border-radius: 5px;
  padding: round($grid-desktop-gutter / 2) round($grid-desktop-gutter * 0.61);

  &.active {
    color: #000;
  }

  &.disabled {
    color: #aaa;
  }
}
