$paginate-name: 'paginate' !default;
$paginate-class: ".#{$paginate-name}" !default;
$paginate-font-size: 18px !default;
$paginate-line-height: $body-line-height !default;
$paginate-font-weight: 400 !default;

$paginate-link-color: $link-color !default;
$paginate-link-hover-color: $link-hover-color !default;
$paginate-link-class: unquote("#{unquote(".")}#{$paginate-name}__link") !default;
$paginate-link-border-width: $border-width !default;
$paginate-link-border-style: solid !default;
$paginate-link-border-color: rgba(0, 0, 0, 0.14) !default;
$paginate-link-background: $white !default;
$paginate-link-border-radius: $border-radius !default;
$paginate-link-padding: round(map-get($grid-gutter, l) / 2) round(map-get($grid-gutter, l)) !default;
$paginate-link-color: $link-color !default;
$paginate-link-hover-color: $link-hover-color !default;
$paginate-link-active-color: $link-active-color !default;
$paginate-link-disabled-color: $light-grey !default;
