/** Flexbox grids */
#{$grid-row-class} {
  @extend %#{$grid-row-name};
}


.no-flexbox.no-flexboxlegacy.no-flexboxtweener #{$grid-row-class} {
  display: block;
  width: 100%;
}

/** Fluid */
#{$grid-class}--fluid #{$grid-col-class} {
  @extend %#{$flex-name}--fluid;
}


/** Fixed */
#{$grid-class}--fixed #{$grid-col-class} {
  @extend %#{$flex-name}--fixed;
}


/** Offset */
@for $x from 1 through ($grid-columns - 1) {
  .o#{$x} {
    margin-left: percentage($x / $grid-columns);
  }
}


#{$grid-class}--reverse,
#{$grid-class}--reverse #{$grid-row-class} {
  @extend %#{$flex-name}--reverse;
}


#{$grid-class}--nowrap,
#{$grid-class}--nowrap #{$grid-row-class} {
  @extend %#{$flex-name}--nowrap;
}


#{$grid-class}--x-left,
#{$grid-class}--x-left #{$grid-row-class} {
  @extend %#{$flex-name}--x-left;
}


#{$grid-class}--x-right,
#{$grid-class}--x-right #{$grid-row-class} {
  @extend %#{$flex-name}--x-right;
}


#{$grid-class}--x-center,
#{$grid-class}--x-center #{$grid-row-class} {
  @extend %#{$flex-name}--x-center;
}


#{$grid-class}--x-around,
#{$grid-class}--x-around #{$grid-row-class} {
  @extend %#{$flex-name}--x-around;
}


#{$grid-class}--x-between,
#{$grid-class}--x-between #{$grid-row-class} {
  @extend %#{$flex-name}--x-between;
}


#{$grid-class}--y-top,
#{$grid-class}--y-top #{$grid-row-class} {
  @extend %#{$flex-name}--y-top;
}


#{$grid-class}--y-bottom,
#{$grid-class}--y-bottom #{$grid-row-class} {
@extend %#{$flex-name}--y-bottom;
}


#{$grid-class}--y-center,
#{$grid-class}--y-center #{$grid-row-class} {
  @extend %#{$flex-name}--y-center;
}


#{$grid-class}--y-stretch,
#{$grid-class}--y-stretch #{$grid-row-class} {
  @extend %#{$flex-name}--y-stretch;
}


#{$grid-class}--y-between,
#{$grid-class}--y-between #{$grid-row-class} {
  @extend %#{$flex-name}--y-between;
}


#{$grid-class}--y-around,
#{$grid-class}--y-around #{$grid-row-class} {
  @extend %#{$flex-name}--y-around;
}


#{$grid-class}--y-baseline,
#{$grid-class}--y-baseline #{$grid-row-class} {
  @extend %#{$flex-name}--y-baseline;
}


#{$grid-class}--c-top {
  @extend %#{$flex-name}--content-top;
}


#{$grid-class}--c-bottom {
  @extend %#{$flex-name}--content-bottom;
}


#{$grid-class}--c-center {
  @extend %#{$flex-name}--content-center;
}


#{$grid-class}--c-stretch {
  @extend %#{$flex-name}--content-stretch;
}


#{$grid-class}--c-between {
  @extend %#{$flex-name}--content-between;
}


#{$grid-class}--c-around {
  @extend %#{$flex-name}--content-around;
}


#{$grid-col-class} {
  @extend %#{$grid-col-name};
}


#{$grid-col-class}--first {
  @extend %#{$flex-name}--first;
}


#{$grid-col-class}--last {
  @extend %#{$flex-name}--last;
}


@include extend-flex-self($grid-col-name, 'y-');


@media #{$phone} {
  #{$grid-row-class},
  #{$float-grid-row-class} {
    padding: 0 $grid-tablet-gutter / 2 0;
  }
}


@media #{$tablet} {
  #{$grid-row-class},
  #{$float-grid-row-class} {
    padding: 0 $grid-tablet-gutter / 2 0;
  }
}


@media #{$desktop} {
  #{$grid-row-class},
  #{$float-grid-row-class} {
    padding: 0 $grid-desktop-gutter / 2 0;
  }
}


/** Cross-browser grids */
#{$float-grid-col-class},
#{$grid-col-class} {
  position: relative;
}


#{$float-grid-col-class},
#{$float-grid-row-class},
#{$grid-col-class},
#{$grid-row-class},
#{$grid-body-class},
#{$float-grid-body-class} {
  @include prefix((box-sizing: border-box), webkit moz);
  &:after, &:before {
    @include prefix((box-sizing: border-box), webkit moz);
  }
}


#{$float-grid-col-class},
.no-flexbox.no-flexboxlegacy.no-flexboxtweener #{$grid-col-class} {
  position: relative;
  float: left;
  display: inline-block;
}


#{$float-grid-row-class},
.no-flexbox.no-flexboxlegacy.no-flexboxtweener #{$grid-row-class} {
  &:before, &:after {
      content: " ";
      display: table;
  }
  &:after {
      clear: both;
  }
}


@media #{$phone} {
  @include grid($grid-columns,
                $grid-phone-gutter,
                $multiple: $grid-columns / $grid-phone-columns);
}


@media #{$tablet} {
  @include grid($grid-columns,
                $grid-tablet-gutter,
                $multiple: $grid-columns / $grid-tablet-columns);
}


@media #{$desktop} {
  @include grid($grid-columns, $grid-desktop-gutter);
}


#{$grid-body-class},
#{$float-grid-body-class} {
  display: block;
  width: 100%;
}


#{$float-grid-body-class} {
  float: left;
}


#{$grid-class}--nopad,
#{$grid-row-class}--nopad,
#{$grid-col-class}--nopad,
#{$float-grid-row-class}--nopad,
#{$float-grid-col-class}--nopad  {
  padding: 0;
}


@each $x in (4px, 8px, 12px, 16px, 20px, 24px, 28px, 32px, 36px, 40px, 44px,
             48px) {
  @include margin-group($x);
  @include padding-group($x);
}
