@mixin grid($cols, $gutter-size: 0, $name-prefix: 'x', $name-ext: null,
            $multiple: 1, $breakpoint: null) {
  @for $x from 1 through $cols {
    @include grid-column($x, $cols, $gutter-size, $name-prefix, $name-ext,
                         $multiple, $breakpoint);
  }
}


@mixin grid-column($x, $cols, $gutter-size: 0, $name-prefix: 'x',
                   $name-ext: null, $multiple: 1, $breakpoint: null) {
  @if $name-ext {
    $name-ext: "--#{$name-ext}";
  } @else {
    $name-ext: '';
  }

  .#{$name-prefix}#{$x}#{$name-ext} {
    @include make-grid-column($x, $cols, $gutter-size, $multiple);
  }

  @include make-gutter($x, $gutter-size, $breakpoint, $name-prefix: 'x',
                       $name-ext: $name-ext)
}



$-pad-cache: ();


@mixin make-gutter($x, $gutter-size, $breakpoint, $name-prefix: 'x',
                   $name-ext: null) {
  $padding-name: 'gridpad--#{$gutter-size}--#{$breakpoint}';
  $pad-cached: true;

  @if not index($-pad-cache, $padding-name) {
    $-pad-cache: append($-pad-cache, $padding-name) !global;
    $pad-cached: false;
  }

  @if $pad-cached == false {
    %#{$padding-name} {
      padding: 0 $gutter-size / 2;
    }
  }

  .#{$name-prefix}#{$x}#{$name-ext} {
    @extend %#{$padding-name};
  }
}


@mixin make-grid-column($n, $columns, $gutter-size: 0, $multiple: 1) {
  $width: ($n / $columns) * $multiple;
  @if $width > 1 {
    $width: 1;
  }
  $width: percentage($width);
  width: $width;
  // max-width: $width;
  @include flex-basis($width);
}
