@mixin grid($cols, $gutter-size: 0, $name-prefix: 'x', $name-ext: null,
            $multiple: 1) {
  @for $x from 1 through $cols {
    @include grid-column($x, $cols, $gutter-size, $name-prefix, $name-ext,
                         $multiple);
  }
}


@mixin grid-column($x, $cols, $gutter-size: 0, $name-prefix: 'x',
                   $name-ext: null, $multiple: 1) {
  @if $name-ext {
    $name-ext: "--#{$name-ext}";
  } @else {
    $name-ext: '';
  }
  .#{$name-prefix}#{$x}#{$name-ext} {
    @include make-grid-column($x, $cols, $gutter-size, $multiple);
  }
}


@mixin make-grid-column($n, $columns, $gutter-size: 0, $multiple: 1) {
  $width: ($n / $columns) * $multiple;
  @if $width > 1 {
    $width: 1;
  }
  $width: percentage($width);
  width: $width;
  // max-width: $width;
  padding: 0 $gutter-size / 2;
  @include flex-basis($width);
}
