@include import-once('grid-placeholders') {
  %#{$grid-row-name} {
    @extend %#{$flex-name};
    @extend %#{$flex-name}--wrap;
    @extend %#{$flex-name}--x;
    @include flex-basis(100%);
    @include break-for(gutters--x); // Gutters
  }


  %#{$grid-col-name} {
    // @extend %#{$flex-name};
    @extend %#{$flex-name}--fluid;
    // @extend %#{$flex-name}--y-top;
    // @extend %#{$flex-name}--wrap;
    // @extend %#{$flex-name}--y;
    position: relative;
    @include break-for(gutters--x); // Gutters
  }

  // Padding gutters */
  $gutter-map: ();
  @each $bp in $R-BREAKPOINT-KEYS {
    $gutter-val: map-get($grid-gutter, $bp);
    $gutter-map: map-merge($gutter-map, ($bp: $gutter-val / 2));
  }

  $gutter-map--2x: ();
  @each $bp in $R-BREAKPOINT-KEYS {
    $gutter-val: map-get($grid-gutter, $bp);
    $gutter-map--2x: map-merge($gutter-map--2x, ($bp: $gutter-val));
  }

  @include breakholder(gutters--l, (padding-left: $gutter-map));
  @include breakholder(gutters--r, (padding-right: $gutter-map));
  @include breakholder(gutters--t, (padding-top: $gutter-map));
  @include breakholder(gutters--b, (padding-bottom: $gutter-map));
  @include breakholder(gutters--x, (padding-left: $gutter-map,
                                    padding-right: $gutter-map));
  @include breakholder(gutters--y, (padding-top: $gutter-map,
                                    padding-bottom: $gutter-map));
  @include breakholder(gutters, (padding: $gutter-map));
  @include breakholder(gutters--2l, (padding-left: $gutter-map--2x));
  @include breakholder(gutters--2r, (padding-right: $gutter-map--2x));
  @include breakholder(gutters--2t, (padding-top: $gutter-map--2x));
  @include breakholder(gutters--2b, (padding-bottom: $gutter-map--2x));
  @include breakholder(gutters--2x, (padding-left: $gutter-map--2x,
                                    padding-right: $gutter-map--2x));
  @include breakholder(gutters--2y, (padding-top: $gutter-map--2x,
                                     padding-bottom: $gutter-map--2x));
  @include breakholder(gutters--2, (padding: $gutter-map--2x));


  // Margin gutters */
  @include breakholder(margin-gutters--l, (margin-left: $gutter-map));
  @include breakholder(margin-gutters--r, (margin-right: $gutter-map));
  @include breakholder(margin-gutters--t, (margin-top: $gutter-map));
  @include breakholder(margin-gutters--b, (margin-bottom: $gutter-map));
  @include breakholder(margin-gutters--x, (margin-left: $gutter-map,
                                           margin-right: $gutter-map));
  @include breakholder(margin-gutters--y, (margin-top: $gutter-map,
                                           margin-bottom: $gutter-map));
  @include breakholder(margin-gutters, (margin: $gutter-map));
  @include breakholder(margin-gutters--2l, (margin-left: $gutter-map--2x));
  @include breakholder(margin-gutters--2r, (margin-right: $gutter-map--2x));
  @include breakholder(margin-gutters--2t, (margin-top: $gutter-map--2x));
  @include breakholder(margin-gutters--2b, (margin-bottom: $gutter-map--2x));
  @include breakholder(margin-gutters--2x, (margin-left: $gutter-map--2x,
                                           margin-right: $gutter-map--2x));
  @include breakholder(margin-gutters--2y, (margin-top: $gutter-map--2x,
                                           margin-bottom: $gutter-map--2x));
  @include breakholder(margin-gutters--2, (margin: $gutter-map--2x));

  // Hide selectors */
  @include breakholder(hide) {
    display: none !important;
  }
}
