// `Modal presets`
#{$modal-class} {
  @extend %hardware-accel;
  background: $modal-background-color;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include opacity(0.0);
}


#{$modal-class}__container {
  @extend %hardware-accel;
  overflow: hidden;
  background: $modal-color;
  width: $modal-width;
  max-width: 90%;
  height: $modal-height;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  @include box-shadow($modal-shadow);
  @include border-radius($modal-border-radius);
  @include opacity(0.0);
  @include font-line($modal-font-size, $modal-line-height,
                     $color: $modal-font-color,
                     $weight: $modal-font-weight,
                     $family: $modal-font);
}


#{$modal-class}__handle {
  text-align: left;
  border-bottom: $modal-handle-border;
  background: $modal-handle-background;
}


#{$modal-class}__component {
  background: $modal-component-background;
}


#{$modal-class}__title {
  width: 100%;
  text-align: $modal-title-align;
  position: absolute;
  left: 0;
  top: 10px;
  @include font-line($modal-title-font-size, $modal-title-line-height,
                     $color: $modal-title-font-color,
                     $weight: $modal-title-font-weight,
                     $family: $modal-title-font);
}


#{$modal-class}__close {
  position: relative;
  display: inline-block;
  padding: 10px 24px 10px 24px;
  left: -10px;
}


#{$modal-class}__yn, #{$modal-class}__ok {
  padding: 35px;
  span {
    display: block;
    margin-bottom:12px;
    @include font-size(20px);
  }
  button {
    margin: 0 5px;
  }
}
