//  type can be one of 'font', 'bg', 'border'
@mixin colorized-buttons($type: 'bg') {
  @each $color in map-keys($colors) {
    $color-val: map-get($colors, $color);

    #{$button-class}--#{$color} #{$button-class},
    #{$button-class}#{$button-class}--#{$color} #{$button-class},
    #{$button-class}--#{$color} button,
    #{$button-class}#{$button-class}--#{$color} button,
    #{$button-class}--#{$color}:not(.btn-group),
    #{$button-class}#{$button-class}--#{$color}:not(.btn-group) {
      @extend %#{$type}--#{$color};

      &.active {
        background: darken($color-val, 5%);
      }
    }

    .no-touchevents #{$button-class}--#{$color}:not(.btn-group),
    .no-touchevents #{$button-class}#{$button-class}--#{$color}:not(.btn-group),
    .no-touchevents #{$button-class}--#{$color} #{$button-class}:not(.btn-group),
    .no-touchevents #{$button-class}#{$button-class}--#{$color} #{$button-class},
    .no-touchevents #{$button-class}--#{$color} button,
    .no-touchevents #{$button-class}#{$button-class}--#{$color} button {
      &:hover, &.hover {
        background: lighten($color-val, 5%);
      }

      &:active, {
        background: darken($color-val, 5%);
      }
    }
  }

  #{$button-class}--transparent #{$button-class},
  #{$button-class}#{$button-class}--transparent #{$button-class},
  #{$button-class}--transparent button,
  #{$button-class}#{$button-class}--transparent button,
  #{$button-class}--transparent:not(.btn-group),
  #{$button-class}#{$button-class}--transparent:not(.btn-group) {
    background: transparent;

    &.active {
      background: rgba(0, 0, 0, 0.20);
    }
  }

  .no-touchevents #{$button-class}--transparent:not(.btn-group),
  .no-touchevents #{$button-class}#{$button-class}--transparent:not(.btn-group),
  .no-touchevents #{$button-class}--transparent #{$button-class}:not(.btn-group),
  .no-touchevents #{$button-class}#{$button-class}--transparent #{$button-class},
  .no-touchevents #{$button-class}--transparent button,
  .no-touchevents #{$button-class}#{$button-class}--transparent button {
    &:hover, &.hover {
      background: rgba(0, 0, 0, 0.10);
    }

    &:active, {
      background: rgba(0, 0, 0, 0.20);
    }
  }
}
