@include import-once('button-placeholders') {
  %#{$button-name}, %button {
    @extend %#{$flex-name}--y-center;
    background: $button-background;
    color: $button-color;
    border-style: $button-border-style;
    border-width: $button-border-width;
    border-color: $button-border-color;
    border-radius: $button-border-radius;
    line-height: $button-line-height;
    outline: 0;
    @include break-for(margin-gutters--y);

    &.hover {
      @extend %#{$button-name}--hover;
    }

    &.active {
      @extend %#{$button-name}--active;
    }
  }

  %#{$button-name}--hover {
    cursor: pointer;
    background: $button-hover-background;
    color: $button-hover-color;
    border-style: $button-hover-border-style;
    border-width: $button-hover-border-width;
    border-color: $button-hover-border-color;
  }


  %#{$button-name}--active {
    cursor: pointer;
    background: $button-active-background;
    color: $button-active-color;
    border-style: $button-active-border-style;
    border-width: $button-active-border-width;
    border-color: $button-active-border-color;
  }


  %#{$button-name}--s {
    padding: $button-sm-padding-top
             $button-sm-padding-right
             $button-sm-padding-bottom
             $button-sm-padding-left;
    @include font-line($button-sm-font-size,
                       $button-sm-font-size,
                       $weight: $button-sm-font-weight);
  }


  %#{$button-name}--m {
    padding: $button-md-padding-top
             $button-md-padding-right
             $button-md-padding-bottom
             $button-md-padding-left;
    @include font-line($button-md-font-size,
                       $button-md-font-size,
                       $weight: $button-md-font-weight);
  }


  %#{$button-name}--l  {
    padding: $button-lg-padding-top
             $button-lg-padding-right
             $button-lg-padding-bottom
             $button-lg-padding-left;
    @include font-line($button-lg-font-size,
                       $button-lg-font-size,
                       $weight: $button-lg-font-weight);
  }
}
