$button-name: 'btn' !default;
$button-class: ".#{$button-name}" !default;

$button-background: $blue !default;
$button-color: #fff !default;
$button-border-color: $border !default;
$button-border-style: solid !default;
$button-border-width: $border-width !default;
$button-border-radius: $border-radius;
$button-line-height: 1.1;

$button-hover-background: lighten($button-background, 5%) !default;
$button-hover-color: white !default;
$button-hover-border-color: $button-border-color !default;
$button-hover-border-style: solid !default;
$button-hover-border-width: $border-width !default;

$button-active-background: darken($button-background, 5%) !default;
$button-active-color: white !default;
$button-active-border-color: $button-border-color !default;
$button-active-border-style: solid !default;
$button-active-border-width: $border-width !default;

$button-sm-font-size: map-get($type-font-size, sm) !default;
$button-md-font-size: map-get($type-font-size, md) !default;
$button-lg-font-size: map-get($type-font-size, lg) !default;

$button-sm-font-weight: 300 !default;
$button-md-font-weight: 300 !default;
$button-lg-font-weight: 300 !default;

$button-sm-padding-top: map-get($grid-gutter, sm) !default;
$button-sm-padding-right: golden(golden(map-get($grid-gutter, sm))) !default;
$button-sm-padding-bottom: $button-sm-padding-top !default;
$button-sm-padding-left: $button-sm-padding-right !default;

$button-md-padding-top: map-get($grid-gutter, md) !default;
$button-md-padding-right: golden(golden(map-get($grid-gutter, md))) !default;
$button-md-padding-bottom: $button-md-padding-top !default;
$button-md-padding-left: $button-md-padding-right !default;

$button-lg-padding-top: map-get($grid-gutter, lg) !default;
$button-lg-padding-right: golden(golden(map-get($grid-gutter, lg))) !default;
$button-lg-padding-bottom: $button-lg-padding-top !default;
$button-lg-padding-left: $button-lg-padding-right !default;
