$button-name: 'button' !default;
$button-class: unquote("#{unquote(".")}#{$button-name}") !default;

$button-background: none !default;
$button-color: #227fc4 !default;
$button-border-color: $button-color !default;
$button-border-style: solid !default;
$button-border-width: 1px !default;
$button-border-radius: 3px;
$button-line-height: 1.1;

$button-hover-background: none !default;
$button-hover-color: lighten($button-color, 10%) !default;
$button-hover-border-color: $button-hover-color !default;
$button-hover-border-style: solid !default;
$button-hover-border-width: 1px !default;
$button-hover-border-radius: 3px;

$button-active-background: $button-color !default;
$button-active-color: white !default;
$button-active-border-color: $button-color !default;
$button-active-border-style: solid !default;
$button-active-border-width: 1px !default;
$button-active-border-radius: 3px;

$button-s-font-size: 14px !default;
$button-m-font-size: 16px !default;
$button-l-font-size: 20px !default;

$button-s-font-weight: 400 !default;
$button-m-font-weight: 400 !default;
$button-l-font-weight: 400 !default;

$button-s-padding-top: 8px!default;
$button-s-padding-right: golden($button-s-padding-top) !default;
$button-s-padding-bottom: $button-s-padding-top !default;
$button-s-padding-left: $button-s-padding-right !default;

$button-m-padding-top: 12px!default;
$button-m-padding-right: golden($button-m-padding-top) !default;
$button-m-padding-bottom: $button-m-padding-top !default;
$button-m-padding-left: $button-m-padding-right !default;

$button-l-padding-top: 16px!default;
$button-l-padding-right: golden($button-l-padding-top) !default;
$button-l-padding-bottom: $button-l-padding-top !default;
$button-l-padding-left: $button-l-padding-right !default;
