@include import-once('card') {
  #{$card-class} {
    @extend %#{$card-name};

    // Remove default styles */
    & > *:not(.button):not(button):first-child {
      border-top: 0;
    }

    & > *:not(.button):not(button):last-child {
      border-bottom: 0;
    }

    & > *:first-child {
      border-top-right-radius: $card-border-radius;
      border-top-left-radius: $card-border-radius;
    }

    & > *:last-child {
      border-bottom-right-radius: $card-border-radius;
      border-bottom-left-radius: $card-border-radius;
    }

    & > {
      #{$button-class}, button {
        @extend %#{$margin-name}--16;
      }
    }


    // Header + Footer styles */
    header, #{$card-class}__header {
      @extend %#{$flex-name};
      width: 100%;
      background: $card-header-background;
      border-width: $card-header-border-width;
      border-color: $card-header-border-color;
      border-style: $card-header-border-style;

      & + #{$navbar-class} {
        border-top: 0
      }
    }

    footer, #{$card-class}__footer {
      @extend %#{$flex-name};
      width: 100%;
      background: $card-footer-background;
      border-width: $card-footer-border-width;
      border-color: $card-footer-border-color;
      border-style: $card-footer-border-style;

      & > #{$navbar-class} {
        border: 0
      }
    }


    // Navbar styles */
    #{$navbar-class} {
      background: transparent;
    }

    & > #{$navbar-class} {
      @extend %#{$padding-name}--x8;

      & > {
        button, #{$button-class} {
          @extend %#{$margin-name}--x8;
          @extend %#{$margin-name}--y16;
        }

        a {
          @extend %#{$padding-name}--x8;
          @extend %#{$padding-name}--y16;
        }
      }

      & > li > {
        button, #{$button-class} {
          @extend %#{$margin-name}--x8;
          @extend %#{$margin-name}--y16;
        }

        a {
          @extend %#{$padding-name}--x8;
          @extend %#{$padding-name}--y16;
        }
      }
    }


    // Type styles */
    & > {
      p {
        width: 100%;
        margin: 0;
      }

      a:not(#{$button-class}):not(#{$card-class}__image) {
        @extend %#{$padding-name}--16;
      }

      p + p,
      h1 + p,
      h2 + p,
      h3 + p,
      h4 + p,
      h5 + p,
      h6 + p,
      #{$type-class}--h1 + p,
      #{$type-class}--h2 + p,
      #{$type-class}--h3 + p,
      #{$type-class}--h4 + p,
      #{$type-class}--h5 + p,
      #{$type-class}--h6 + p {
        @extend %#{$padding-name}--t0;
      }
    }

    p,
    #{$card-class}__link,
    #{$card-class}__row {
      @extend %#{$padding-name}--16;
    }

    @include headings {
      @extend %#{$padding-name}--16;
    }
  }


  // Card image styles */
  #{$card-class} > img,
  #{$card-class} > figure img,
  #{$card-class}__image,
  #{$card-class}__image img,
  #{$card-class} > video,
  #{$card-class}__video,
  #{$card-class}__video video {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
  }


  #{$card-class} > img:first-child,
  #{$card-class}__image,
  #{$card-class} > img:last-child,
  #{$card-class} > video:first-child,
  #{$card-class}__video,
  #{$card-class} > video:last-child {
    overflow: hidden;

  }


  // Flex extensions */
  @include extend-flex($card-name, ($card-class));
}
