@mixin card-placeholders-init() {
  @if not global-variable-exists(-CARD-PLACEHOLDERS-LOADED) {
    $-CARD-PLACEHOLDERS-LOADED: true !global;

    %#{$card-name} {
      @extend %#{$flex-name};
      @extend %media-margin-gutters-half-y;
      background: $card-background;
      border-width: $card-border-width;
      border-style: $card-border-style;
      border-color: $card-border-color;
      border-radius: $card-border-radius;
      @include flex-direction(column);
    }
  }
}
