$card-name: 'card' !default;
$card-class: unquote("#{unquote(".")}#{$card-name}") !default;
$card-background: #fff !default;
$card-border-width: 1px !default;
$card-border-style: solid !default;
$card-border-color: #dbdbdb !default;
$card-border-radius: 2px;

$card-header-background: #f2f2f2 !default;
$card-header-border-width: 1px 0 !default;
$card-header-border-color: #dbdbdb !default;
$card-header-border-style: solid !default;

$card-footer-background: $card-header-background !default;
$card-footer-border-width: 1px 0 !default;
$card-footer-border-color: $card-header-border-color !default;
$card-footer-border-style: $card-header-border-style !default;
