@include import-once('tooltip') {
  $caretWithBorder: unit-add($tooltip-caret-size, $tooltip-border-width);

  #{$tooltip-class} {
    @extend %hidden;
    display: block;
    position: absolute;
    background: $tooltip-background;
    border-width: $tooltip-border-width;
    border-color: $tooltip-border-color;
    border-style: $tooltip-border-style;
    border-radius: $tooltip-border-radius;
    white-space: nowrap;
    @include font-line($tooltip-font-size,
                       $tooltip-line-height,
                       $color: $tooltip-font-color,
                       $weight: $tooltip-font-weight);

    &#{$droppable-class} {
      transition-delay: map-get($animation-speeds, med) + $tooltip-transition-delay-out, $tooltip-transition-delay-out, $tooltip-transition-delay-out;
    }

    &#{mod($droppable-class, dropped)} {
      transition-delay: $tooltip-transition-delay-in;
    }
  }

  @each $name in map-keys($animation-speeds) {
    #{$tooltip-class}#{$droppable-class}#{$animate-class}--#{$name} {
      transition-delay: map-get($animation-speeds, $name) + $tooltip-transition-delay-out, $tooltip-transition-delay-out, $tooltip-transition-delay-out;
    }

    #{$tooltip-class}#{mod($droppable-class, dropped)}#{$animate-class}--#{$name} {
      transition-delay: $tooltip-transition-delay-in;
    }
  }

  .no-touchevents {
    #{$tooltip-class}:hover {
      @extend %visible;
      @include transform(translate3d(0, 0, 0));
      @include prefix((transition-delay: $tooltip-transition-delay-out), webkit);
    }
  }

  #{$tooltip-class}#{mod($droppable-class, top)},
  #{$tooltip-class}#{mod($droppable-class, bottom)} {
    top: auto;
    bottom: 100%;
    margin-bottom: $tooltip-caret-size;

    &:before,
    &:after {
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    &:before {
      @include caret($caretWithBorder,
                     $tooltip-border-color,
                     $direction: bottom,
                     $pad: $tooltip-border-width);
    }

    &:after {
      @include caret($caretWithBorder,
                     $tooltip-background,
                     $direction: bottom);
    }
  }


  #{$tooltip-class}#{mod($droppable-class, right)},
  #{$tooltip-class}#{mod($droppable-class, left)} {
    top: -50%;
    left: calc(100% + #{unit-add($tooltip-caret-size, 2px)});
    right: auto;

    &:before,
    &:after {
      top: 0;
      bottom: 0;
      margin: auto 0;
    }

    &:before {
      @include caret($caretWithBorder,
                     $tooltip-border-color,
                     $direction: left,
                     $pad: unit-add($tooltip-border-width, -1px));
    }

    &:after {
      @include caret($caretWithBorder,
                     $tooltip-background,
                     $direction: left,
                     $pad: -1px);
    }
  }

  #{$tooltip-class}#{mod($droppable-class, bottom)} {
    top: 100%;
    bottom: auto;
    margin-top: $tooltip-caret-size;
    margin-bottom: auto;

    &:before {
      @include caret($caretWithBorder,
                     $tooltip-border-color,
                     $direction: top,
                     $pad: $tooltip-border-width);
    }

    &:after {
      @include caret($caretWithBorder,
                     $tooltip-background,
                     $direction: top);
    }
  }

  #{$tooltip-class}#{mod($droppable-class, left)} {
    top: -50%;
    left: auto;
    right: calc(100% + #{unit-add($tooltip-caret-size, 2px)});

    &:before {
      @include caret($caretWithBorder,
                     $tooltip-border-color,
                     $direction: right,
                     $pad: unit-add($tooltip-border-width, -1px));
    }

    &:after {
      @include caret($caretWithBorder,
                     $tooltip-background,
                     $direction: right,
                     $pad: -1px);
    }
  }
}
