$tooltip-name: tooltip !default;
$tooltip-class: '.#{$tooltip-name}' !default;

$tooltip-font-color: $white !default;
$tooltip-font-size: map-get($type-font-size, s) !default;
$tooltip-font-weight: 400 !default;
$tooltip-line-height: 1.1 !default;

$tooltip-background: $dark-grey !default;
$tooltip-border-width: $border-width !default;
$tooltip-border-color: $dark-grey !default;
$tooltip-border-style: solid !default;
$tooltip-border-radius: $border-radius !default;

$tooltip-caret-size: 8px !default;
