@include import-once('avatar') {
  #{$avatar-class} {
    @extend %#{$flex-name};
    @extend %#{$flex-name}--y-center;
    @extend %#{$flex-name}--x-center;
    width: map-get($avatar-size, $DEFAULT-AVATAR-SIZE);
    height: map-get($avatar-size, $DEFAULT-AVATAR-SIZE);
    border-radius: $avatar-border-radius;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.avatar--square {
      img {
        height: 100%;
        width: 100%;
      }
    }

    &.avatar--landscape {
      img {
        height: 100%;
        width: auto;
      }
    }

    &.avatar--portrait {
      img {
        height: auto;
        width: 100%;
      }
    }
  }

  @each $size in $AVATAR-SIZE-KEYS {
    #{$avatar-class}#{$avatar-class}--#{$size} {
      @extend %#{$avatar-name}--#{$size};
    }
  }

  @include harden-border-radius($avatar-name);
  @include extend-flex($selectors: ($avatar-class,));
}
