$avatar-name: avatar !default;
$avatar-class: '.#{$avatar-name}' !default;

$avatar-border-radius: 100% !default;

$avatar-size: (
  xs: 24px,
  sm: 36px,
  md: 72px,
  lg: 128px,
  xl: 256px
) !default;


$AVATAR-SIZE-KEYS: map-keys($avatar-size);
$R-AVATAR-SIZE-KEYS: map-keys(map-reverse($avatar-size));
$DEFAULT-AVATAR-SIZE: sm !default;
