@include import-once('columns') {
  #{$columns-class} {
    display: block;
  }

  /**
  #{$columns-class} > * {
    display: inline-block;
    width: 100%;
  }
  */

  @for $x from 1 through $columns-count-max {
    #{$columns-class}--#{$x} {
      @extend %#{$columns-name}--#{$x};
    }
  }


  @each $bp in map-keys($columns-gutter) {
    @media #{map-get($columns-breakpoint, $bp)} {
      $gutter-size: map-get($columns-gutter, $bp);

      #{$columns-class} {
        @include columns($gutter-size: $gutter-size);
      }
    }
  }
}
