$columns-name: 'cols' !default;
$columns-class: unquote("#{unquote(".")}#{$columns-name}") !default;
$columns-width: auto !default;
$columns-phone-gutter: 8px !default;
$columns-tablet-gutter: 16px !default;
$columns-desktop-gutter: 24px !default;
