$columns-name: 'cols' !default;
$columns-class: ".#{$columns-name}" !default;
$columns-width: auto !default;
$columns-count-max: 12 !default;


$columns-gutter: $grid-gutter !default;
$columns-breakpoint: $grid-breakpoint !default;
